{% extends 'main/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'main/food_detail.css' %}">
{% endblock %}

{% block body %}
    <h3>Бизнес с TFood</h3>
    <p>
        Рассматриваем помещения в аренду для организации ресторанов быстрого обслуживания. <br>
        Города: Алматы, Нур-Султан, Шымкент, Атырау, Петропавловск, Караганда, Туркестан <br>

        <strong>Требования к помещениям:</strong> <br>

        Первая линия от дороги, оживленные места, высокий автомобильный и пеший траффик, наличие парковки, близость ТРЦ и БЦ.
        <br>

        <strong>Формат помещений:</strong>
        <ul>
            <li>
                Коммерческие помещения на первых этажах зданий с отдельным входом, площадью 130–250 кв. м
            </li>
            <li>
                Отдельно стоящие здания площадью около 200–400 кв.м. на земельном участке от 8 соток с возможностью организации зоны драйв и заездов-выездов с крупных улиц
            </li>
            <li>
                Земельные участки под установку модульных павильонов размером 15–200 кв. м. (рассматриваются в г. Алматы и Нур-Султан)
            </li>
            <li>
                Электронная почта для заявок: ysalchak@americana-food.com
            </li>
        </ul>
    </p>
{% endblock %}