{% extends 'main/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'main/food_detail.css' %}">
{% endblock %}

{% block body %}
    <img src="{% static 'main/image/join_team.png' %}" alt="" class="w-100">
    <h3>Карьера в TFood</h3>
    <p>В TFood мы уделяем особое внимание человеку, независимо от того, является ли он посетителем или членом большой семьи TFood.
        Именно поэтому мы много работаем и вкладываем так много средств в поддержание и развитие замечательной рабочей среды для
        всех членов нашей команды. В наших ресторанах мы применяем современные методы управления, постоянно адаптируемся к изменениям,
        поощряем инициативу, вознаграждаем за отличную работу и постоянно создаем возможности для развития наших сотрудников!
    </p>
    <h3>Хотите ли вы работать с нами?</h3>
    <p>В TFood мы всегда создаем возможности роста для всех сотрудников. Наши люди являются движущей силой в наших ресторанах, а наши
        сильные ценности служат основой, на которой строится каждое действие компании. Если вы хотите стать частью команды, которая
        постоянно развивается и предлагает уникальный опыт каждому клиенту, отправьте нам свое резюме. Присоединяйтесь к команде TFood
        и наслаждайтесь приятной рабочей обстановкой, постоянным развитием, в быстро растущей сети ресторанов, постоянным обучением,
        направленным на ваше развитие. Для того, чтобы узнать о нас больше, достаточно подписаться на наши страницы
    </p>

    <h3>Хотите с нами работать? Подайте заявку здесь!</h3>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="ФИО" name="full_name" class="form-control w-50">
        <input type="text" placeholder="Эл. адрес" name="email" class="form-control w-50">
        <input type="text" name="stuff" placeholder="Желаемая должность" class="form-control w-50">
        <span>Загрузите свое резюме</span><input type="file" placeholder="Загрузите свое резюме" name="resume" class="form-control w-50">
        <input type="text" placeholder="Сопроводительное письмо" name="message" class="form-control w-50">
        <input type="submit" value="Отправить" class="btn btn-primary">
    </form>
{% endblock %}