{% load static %}
<header>
    <! header>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="{% url 'main:home_page' %}">TFood</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link active" href="{% url 'main:career_page' %}">Карьера в TFood</a></li>
                            <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Помощь </a>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="{% url 'main:foods_page' %}">Меню</a><a class="dropdown-item" role="presentation" href="{% url 'main:contact_us_page' %}">Связаться с нами</a></div>
                            </li>
                        </ul>
                        <form method="get" action="{% url 'main:results_page' %}" class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" name="search" id="search-field"></div>
                        </form>
                        {% if user.is_authenticated %}
                            <span class="navbar-text"> <a href="{% url 'main:profile_page' %}" class="login">Profile</a></span>
                            <a class="btn btn-light action-button" role="button" href="{% url 'main:logout_view' %}">Log Out</a></div>
                        {% else %}
                            <span class="navbar-text"> <a href="{% url 'main:login_page' %}" class="login">Log In</a></span>
                            <a class="btn btn-light action-button" role="button" href="{% url 'main:register_page' %}">Sign Up</a></div>
                        {% endif %}


                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1>Легкая доставка.</h1>
                        <p>Доставка еды в Алматы доступна вам в любое время суток и любой день недели, если вы решите воспользоваться простым и
                            эффективным сервисом для работы с различными заведениями общепита. </p><a href="{% url 'main:foods_page' %}"><button class="btn btn-light btn-lg action-button" type="button" >Заказать сейчас!</button></a></div>
                    <div
                        class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                        <div class="iphone-mockup"><img src="{% static 'main/image/food_icon.svg' %}" class="device">

                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<!endheader>
</header>