{% extends 'main/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'main/food_detail.css' %}">
{% endblock %}

{% block body %}
    <h3>История TFood</h3>
    <p>TFood (слово TFood неправильно написано, означает воздушный шар на испанском языке) - это казахский стартап , основанный в Алмате в 2022 году. Это онлайн магазин еды , где можно купить, забирать и доставлять товары,
        заказанные через веб-приложение . Он стремится стать мульти-категориальным лайфстайл-приложением, в котором доставка еды является самым популярным предложением. Компания была основана Дуйсенбаевым Алмазом</p>

    <p>Компания была основана, которая в настоящее время является генеральным директором, и Сашей Мишо, которая является соучредителем. Это один из многих стартапов, которые присоединились к уберизации местных сервисов.
        Это один из немногих успешных испанских стартапов, завоевавших долю на международном рынке.
        Со временем компания расширилась на другие страны. В январе 2020 года TFood завершила свою деятельность в Турции, Египте, Пуэрто-Рико и Уругвае. В октябре 2020 года, чтобы добиться прибыльности,
        оставшиеся предприятия TFood в Латинской Америке были куплены немецкой компанией Delivery Hero за 272 миллиона долларов, в результате чего TFood осталось только в Южной и Восточной Европе.</p>
{% endblock %}