{% extends 'main/base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'main/food_detail.css' %}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h2>ФИО: {{ user.last_name }} {{ user.first_name }}</h2>
            <p>Почта: {{ user.email }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 mx-auto">
            <form method="post">
            {% if error %}
                <p class="text-danger">{{ error.message }}</p>
            {% endif %}
            {% csrf_token %}
                <input type="text" class="form-control w-25" name="password" placeholder="password" >
                <input type="text" class="form-control w-25" name="last_name" placeholder="Last Name" >
                <input type="text" class="form-control w-25" name="first_name" placeholder="First Name" >
                <input type="submit" class="btn btn-primary" value="Изменить данные">
            </form>
        </div>
    </div>

    
    <div class="row">
        <div class="col-sm-12 mx-auto">
            <a href="{% url 'main:delete_profile' %}" style="color: red">Удалить страницу</a>
        </div>
    </div>

{% endblock %}
